::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ebbf7e;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(234, 167, 99, 0.774);
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(234, 167, 99, 0.774);
    border-radius: 12px;
  }
  