.resume-section {
    position: relative !important;
    padding-top: 110px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
    color: white !important;
    
  }
  
  .resume {
    padding-top: 30px;
    padding-bottom: 50px;
    justify-content: center;
  }
  @media (max-width: 767px) {
    
  }
  
  
  
  