/* Typewriter styling */
.Typewriter__wrapper {
  font-size: inherit !important;
  color: inherit !important;
  font-weight: inherit !important;
}
.Typewriter__cursor {
  font-size: inherit !important;
  color: #c9a86c !important;
}
