html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(18, 19, 18, 0.582),
    rgb(190, 97, 83)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(18, 19, 18, 0.582),
    rgb(190, 97, 83)
  );

  --imp-text-color:rgb(121, 63, 41);
}

.red {
  color: var(--imp-text-color) !important;
}

button:focus {
  box-shadow: none !important;
}
